{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bunker</title>
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
</head>
<body>
    <main class="main_screen">
        <div class="container">
            <div class="title">
                <h1>Bunker</h1>
                <p>Best password manager</p>
            </div>
            <div class="main_screen__btn">
                <a href="help.html" class="btn">Get started</a>
            </div>
        </div>
    </main>
</body>
</html>
