{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bunker</title>
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/homework" class="logo">Bunker</a>
    </header>

    <main class="accounts_screen">
        <div class="container">
            <div class="title">
                <h1>Accounts</h1>
            </div>

            <form class="form" method="POST">
                <h4 class="form__title">Create new account</h4>
                {% csrf_token %}
                {{form}}
                <button class="btn form__btn" type="submit">Create</button>
            </form>

            <div class="accounts">
                <p class="accounts__description">Or use already created:</p>
                <ul class="accounts__list">
                    {% for user in users %}
                        <li class="accounts__list__item">
                            <a href="/homework/bunker?user={{ user }}" title="Log in">
                                <span class="accounts__list__item__icon">🔑</span>{{ user }}
                            </a>
                            <button class="accounts__list__item__remove" data-remove="{{ user }}" title="Remove account">❌</button>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </main>

    <script src="{% static 'js/accounts/index.js' %}"></script>
</body>
</html>
