{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bunker</title>

    <link href="{% static 'styles/index.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body class="bg">
    <header class="header">
        <a href="/homework" class="logo">Bunker</a>
    </header>

    <main class="bunker_screen">
        <div class="container">

            <div class="bunker">
                {% for section, fields in rows.items %}
                    <div class="bunker__list">
                        <div class="bunker__list__title">
                            <h4 data-editable-section contenteditable="true">
                                {{ section }}
                            </h4>
                            <button class="btn-remove bunker__list__title__remove" data-remove-section>❌</button>
                        </div>

                        {% for login, password in fields.items %}
                            <div class="bunker__list__item">
                                <div class="bunker__list__item_inner">
                                    <div class="bunker__list__item__num">1.</div>
                                    <div class="bunker__list__item__login">
                                        <span>Login: </span><span data-editable-item>
                                        {% if login %}
                                            {{ login }}
                                        {% else %}
                                            Type something...
                                        {% endif %}
                                        </span>
                                    </div>
                                    <div class="bunker__list__item__separator"></div>
                                        {% if password %}
                                            <div class="bunker__list__item__password">
                                        {% else %}
                                            <div class="bunker__list__item__password bunker__list__item__password-empty">
                                        {% endif %}
                                        <span>Password: </span><span data-editable-item>
                                            {% if password %}
                                                {{ password }}
                                            {% else %}
                                                Type something...
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="bunker__list__item__separator"></div>
                                    <div class="btn-remove bunker__list__item__remove" data-remove>❌</div>
                                </div>
                            </div>
                        {% endfor %}

                        <button class="btn bunker__list__btn" data-add-item>Add new item</button>
                    </div>

                    <div class="separator"></div>
                {% endfor %}

                <div class="bunker__list_add__new"><button class="btn" data-add-section>Add new list</button></div>

            </div>

        </div>
    </main>

    <script src="{% static 'js/bunker/index.js' %}" type="module"></script>
</body>
</html>
