{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Bunker</title>

    <link href="{% static 'styles/index.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
</head>
<body>
    <main class="main_screen">
        <div class="container">
            <div class="title">
                <h1>Bunker</h1>
                <p>Best password manager</p>
            </div>
            
            <div class="live_text" id="live_text"></div>
            
            <div class="main_screen__btn">
                <a href="{{help_page_path}}" class="btn">Get started</a>
            </div>
        </div>
    </main>

    <script src="{% static 'js/home/index.js' %}"></script>
</body>
</html>
