.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 8px 12px;

    border: 1px solid var(--main-text-color);
    border-radius: var(--border-radius);
    background: transparent;
    transition: all .2s;
    cursor: pointer;


    color: var(--main-text-color);
    font-size: 18px;
}

.btn:hover {
    background: var(--ternary-bg-color);
    transition: all .2s;

    color: var(--ternary-text-color);
}