:root {
    --header-bg-color: #0e1212;

    --main-bg-color: #222;
    --ternary-bg-color: #fefdfd;

    --main-text-color: #fff;
    --ternary-text-color: #222;

    --border-radius: 8px;

    --button-width: 120px;

    --container-padding: 15px;

    --form-width: 280px;
}